<div class="row">
  <div class="small-12 columns"><h3>Log In</h3></div>
</div>
<%= form_tag sessions_path do %><!--POST request goes to sessions#create-->
<div class="row">
  <div class="small-6 columns">
    <%= label_tag :email, nil, class: "small-6 columns"%>
    <%= text_field_tag(:email, nil, class: "small-6 columns") %>
  </div>
</div>
  <div class="row">
    <div class="small-6 columns">
      <%= label_tag :password, nil, class: "small-6 columns"%>
      <%= password_field_tag(:password, nil, class: "small-6 columns") %>
    </div>
  </div>
  <div class="row">      
    <div class="small-12 columns">
      <%= submit_tag :Login, :class => "small button" %>
    </div>
  </div>
<% end %>