<table>
  <thead>
    <tr>
      <th width="150">Lesson</th>
      <th with="150">Status</th>
    </tr>
  </thead>
  <tbody>       
    <% schedule.lessons.each_with_index do |lesson, index| %>
      <tr>
        <td>Lesson <%= index + 1 %></td>
         <% if (current_user.is_a? Instructor) %>
          <td><a href="#" class="small button <%=add_style(lesson)%>" data-id=<%= lesson.id %> data-status=<%= lesson.status %>><%= lesson.status %></a></td>
          <% else %>
            <td><span class="<%=add_style(lesson)%> label" data-id=<%= lesson.id %> data-status=<%= lesson.status %>><%= lesson.status %></span></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>