<table>
  <thead>
    <tr>
      <th width="150">Lesson</th>
      <th with="150">Status</th>
      <% if (current_user.is_a? Instructor) %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>       
    <% schedule.lessons.each_with_index do |lesson, index| %>
      <tr>
        <td>Lesson <%= index + 1 %></td>
        <td><span class="label"><%= lesson.status %></span></td>
         <% if (current_user.is_a? Instructor) %>
          <td><a href="#" class="small button <%=add_style(lesson)%>" data-id=<%= lesson.id %> data-status=<%= lesson.status %>><%= lesson.status %></a></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>