<table>
  <thead>
    <tr>
      <th width="150">Lesson</th>
      <th with="150">Status</th>
      <th width="150">Date Used</th>
    </tr>
  </thead>
  <tbody>
    <% def add_style(item)
     if (item.status ==  "Used")
        return  "alert"
      else 
        return "success"
      end
    end %>      
    <% schedule.lessons.each_with_index do |lesson, index| %>
      <script>lessonsArray.push("<%= lesson.id %>");</script> 
      <tr>
        <td>Lesson <%= index + 1 %></td>
        <td><span class="<%=add_style(lesson)%> label" id="label-<%= lesson.id %>" data-id=<%= lesson.id %> data-status=<%= lesson.status %>><%= lesson.status %></span></td>
         <% if (current_user.is_a? Instructor) %>
          <!-- make the date clickable -->
          <td id="tablecell-<%= lesson.id %>"><input type="text" id="date-<%= lesson.id %>" data-id=<%= lesson.id %>></td>
          <td>
            <a href="#" class="small button" data-id=<%= lesson.id %>>
              <% if lesson.status == 'Available' %>
                <%= 'Submit' %>
              <% else %>
                <%= 'Edit' %>
              <% end %>
            </a>
          </td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- if lesson is Available, date is -----
When lesson is Checked off, update database and use jquery to display date input -->