<table>
  <thead>
    <tr>
      <th width="150">Lesson</th>
      <th with="150">Status</th>
      <th width="150">Date Used</th>
    </tr>
  </thead>
  <tbody>
    <% def add_style(item)
     if (item.status ==  "Used")
        return  "alert"
      else 
        return "success"
      end
    end %>      
    <% schedule.lessons.each_with_index do |lesson, index| %> 
      <tr>
        <td>Lesson <%= index + 1 %></td>
        <td><span class="<%=add_style(lesson)%> label" id="label-<%= lesson.id %>" data-id=<%= lesson.id %> data-status=<%= lesson.status %>><%= lesson.status %></span></td>
        <% if (current_user.is_a? Instructor) %>
          <% if lesson.status == 'Available' %>
            <td id="tablecell-<%= lesson.id %>"><input type="text" id="date-<%= lesson.id %>" class="datepicker" data-id=<%= lesson.id %>></td>
            <td>
              <a href="#" class="small button" data-id=<%= lesson.id %> data-order-id=<%= schedule.id %>>Submit</a>
            </td>
          <% else %>
            <% unless lesson.dateused.nil? %>
              <td id="tablecell-<%= lesson.id %>"><span><%= lesson.dateused.strftime("%d-%m-%y") %></span></td>
            <% end %>
            <td><a href="#" class="small button" data-id=<%= lesson.id %>>Edit</a></td>
          <% end %>
        <% else %>
          <% if lesson.status == 'Used' && !lesson.dateused.nil? %>
            <td><span><%= lesson.dateused.strftime("%d-%m-%y") %></span></td>  
          <% end %>       
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>